<p>list-users works!</p>
<div *ngIf="!editing">
    <h2 class="text-xl text-red-500 font-bold">Lista de usuarios</h2>
    <table>
        <thead>
            <tr>
                <th class="border px-4">ID</th>
                <th class="border px-4">Usuario</th>
                <th class="border px-4">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td class="border px-4 py-2">
                    {{user._id}}
                </td>
                <td class="border px-4 py-2">
                    {{user.username}}
                </td>
                <td class="border px-4 py-2">
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold mx-1 py-2 px-2 rounded-full" (click)="delete(user.username)">
                        Eliminar
                    </button>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold mx-1 py-2 px-2 rounded-full" (click)="editing=true;currentUser=user;currentUser.password='' " >
                        Editar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="editing">
    <div class="border px-4">
        <h2 class="text-xl text-red-500 font-bold" >Editando a {{currentUser.username}}</h2>
        <h4>contraseña actual</h4>
        <input type="text" [(ngModel)]="currentUser.password" >
        <h4>contraseña nueva</h4>
        <input type="text" [(ngModel)]="currentUser.updatedPassword" >
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold mx-1 py-2 px-2 rounded-full" (click)="update()">
            Aceptar
        </button>
    </div>
</div>